* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Orbitron", sans-serif;
}

body {
    background: radial-gradient(circle at center, #050505, #000);
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0ff;
}

.container {
    text-align: center;
    width: 100%;
}

.titulo {
    font-size: 2rem;
    color: #0ff;
    margin-bottom: 15px;
    text-shadow: 0 0 15px #0ff;
}

#audioFile {
    margin-bottom: 10px;
}

#visualizer {
    width: 100%;
    height: 80vh;
    display: block;
}

canvas {
    filter: drop-shadow(0 0 12px #0ff);
}

