body {
    margin: 0;
    background: #0d0d0d;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 25px;
    font-size: 2rem;
}

.upload-area {
    margin: 20px;
}

#playBtn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: purple;
    color: white;
    border: none;
    border-radius: 5px;
}

canvas {
    display: block;
    width: 100%;
    height: 400px;
    margin-top: 20px;
    background: #111;
}
